<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Benvenuto in ACMESky!</h1>
            <h2 class="text-center">Registrati e risparmia</h2>
        </div>
    </div>
    <div class="row">
        <hr />
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <a routerLink="/register-interest" routerLinkActive="active" class="btn btn-outline-primary btn-lg">Registra interesse</a>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <a routerLink="/buy-offer" routerLinkActive="active" class="btn btn-outline-primary btn-lg">Acquista offerta</a>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"></div>
    </div>
</div>