<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Acquista un'offerta</h1>
            <h2 class="text-center">Devi prima aver ricevuto un codice offerta su ProntoGram</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <lib-stepperProgressBar id="myStepper" [controller]="progressStepper"
                                    [steps]="steps"></lib-stepperProgressBar>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="alert"
                 [ngClass]="{'alert-secondary': successfullyPushedOfferData, 'alert-danger': !successfullyPushedOfferData}"
                 role="alert" *ngIf="firstRequestPerformed">{{ operationResult() }}</div>
            <div class="alert" [ngClass]="{'alert-success': !webSocketError, 'alert-danger': webSocketError}"
                 role="alert" *ngIf="firstRequestPerformed && successfullyPushedOfferData">
                <span *ngIf="webSocketMessage.length == 0">Attendi...</span>
                <span *ngIf="webSocketMessage.length > 0">{{ webSocketMessage }}</span>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="formData" (ngSubmit)="submitOfferData()" *ngIf="status === TransactionStatus.NothingDone">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Offerta</h3>
                <div class="form-group input-group-lg">
                    <label for="offer_code">Codice dell'offerta (ricevuto tramite ProntoGram)</label>
                    <input class="form-control" type="text" placeholder="x1Y2z3A4b5C" id="offer_code" formControlName="offer_code" />
                    <div class="alert alert-danger" role="alert" *ngIf="formData.controls.offer_code.invalid && formData.controls.offer_code.value !== null">{{ offerCodeError() }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Dati personali</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group input-group-lg">
                    <label for="name">Nome</label>
                    <input class="form-control" type="text" placeholder="Nome" id="name" formControlName="name" />
                    <div class="alert alert-danger" role="alert" *ngIf="formData.controls.name.invalid && formData.controls.name.value !== null">{{ nameError() }}</div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group input-group-lg">
                    <label for="surname">Cognome</label>
                    <input class="form-control" type="text" placeholder="Cognome" id="surname" formControlName="surname" />
                    <div class="alert alert-danger" role="alert" *ngIf="formData.controls.surname.invalid && formData.controls.surname.value !== null">{{ surnameError() }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Indirizzo</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <div class="form-group input-group-lg">
                    <label for="street">Via/Strada/Piazza</label>
                    <input class="form-control" type="text" placeholder="Via/Strada/Piazza" id="street" formControlName="street" />
                    <div class="alert alert-danger" role="alert" *ngIf="formData.controls.street.invalid && formData.controls.street.value !== null">{{ streetError() }}</div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="form-group input-group-lg">
                    <label for="number">Numero</label>
                    <input class="form-control" type="text" placeholder="Numero" id="number" formControlName="number" />
                    <div class="alert alert-danger" role="alert" *ngIf="formData.controls.number.invalid && formData.controls.number.value !== null">{{ numberError() }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group input-group-lg">
                    <label for="city">Città</label>
                    <input class="form-control" type="text" placeholder="Città" id="city" formControlName="city" />
                    <div class="alert alert-danger" role="alert" *ngIf="formData.controls.city.invalid && formData.controls.city.value !== null">{{ cityError() }}</div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group input-group-lg">
                    <label for="zip_code">CAP</label>
                    <input class="form-control" type="text" placeholder="CAP" id="zip_code" formControlName="zip_code" />
                    <div class="alert alert-danger" role="alert" *ngIf="formData.controls.zip_code.invalid && formData.controls.zip_code.value !== null">{{ zipCodeError() }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group input-group-lg">
                    <label for="country">Stato</label>
                    <input class="form-control" type="text" placeholder="Stato" id="country" formControlName="country" />
                    <div class="alert alert-danger" role="alert" *ngIf="formData.controls.country.invalid && formData.controls.country.value !== null">{{ countryError() }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button class="btn btn-success btn-block btn-lg" [disabled]="formData.invalid">Conferma</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container" *ngIf="status === TransactionStatus.WaitingOfferCodeValidity">
    <div class="row d-flex justify-content-center">
        <lottie-player class="d-flex justify-content-center" src="https://assets5.lottiefiles.com/packages/lf20_r9vYy5.json"  background="transparent"  speed="1"  style="width: 40em; height: 40em;"  loop autoplay></lottie-player>
    </div>
</div>

<div class="container" *ngIf="status === TransactionStatus.WaitingPayment">
    <a href="{{paymentUrl}}" target="_blank" type="button" class="btn btn-primary btn-lg btn-block">Procedi al pagamento</a>
    <div class="row d-flex justify-content-center">
        <lottie-player class="d-flex justify-content-center" src="https://assets6.lottiefiles.com/packages/lf20_eHhh6e.json"  background="transparent"  speed="1"  style="width: 40em; height: 40em;"  loop autoplay></lottie-player>
    </div>
</div>

<div class="container" *ngIf="status === TransactionStatus.TicketsArrived">
    <div class="row">
        <div class="col-sm">
            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_tCIUzD.json"  background="transparent"  speed="1"  style="width: 40em; height: 40em;"  loop autoplay></lottie-player>
        </div>
        <div class="col-sm">
            <h1>Andata</h1>
            <div><span class="h4">Areoporto di partenza:</span> {{tickets.flights.outbound.departureAirportCode}}</div>
            <div><span class="h4">Areoporto di arrivo:</span> {{tickets.flights.outbound.arrivalAirportCode}}</div>
            <div><span class="h4">Orario di partenza:</span> {{dateToLocale(tickets.flights.outbound.departureDatetime)}}</div>
            <div><span class="h4">Orario di arrivo:</span> {{dateToLocale(tickets.flights.outbound.arrivalDatetime)}}</div>
            <div><span class="h4">Prezzo:</span> {{tickets.flights.outbound.cost}}</div>

            <h1>Ritorno</h1>
            <div><span class="h4">Areoporto di partenza:</span> {{tickets.flights.comeback.departureAirportCode}}</div>
            <div><span class="h4">Areoporto di arrivo:</span> {{tickets.flights.comeback.arrivalAirportCode}}</div>
            <div><span class="h4">Orario di partenza:</span> {{dateToLocale(tickets.flights.comeback.departureDatetime)}}</div>
            <div><span class="h4">Orario di arrivo:</span> {{dateToLocale(tickets.flights.comeback.arrivalDatetime)}}</div>
            <div><span class="h4">Prezzo:</span> {{tickets.flights.comeback.cost}}</div>

            <h1>Servizio navetta</h1>
            <span *ngIf="!tickets.transfers">Servizio navetta non prenotato</span>
            <span *ngIf="tickets.transfers">{{tickets.transfers}} €</span>
        </div>
    </div>
</div>

<div class="container" *ngIf="status === TransactionStatus.SomethingWentWrong">
    <div class="row d-flex justify-content-center">
        <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_glnkkfua.json"  background="transparent"  speed="1"  style="width: 40em; height: 40em;"  loop  autoplay></lottie-player>
    </div>
</div>
